@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.adastack-title {
  margin-left: -30px;
}

/* Sidebar menu */
.nextra-scrollbar {
  padding: 1rem 0rem 1rem 0rem !important;
}

.sidebar-menu-item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 0px;
}

button[title="Hide sidebar"] {
  display: none;
}

a {
  text-decoration: none !important;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

/* Home Card */
.nextra-cards.home-navigation-cards {
  /* 3 columns,  becomes 4 columns if you set layout:full in meta.json */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* For 1 column, comment all of these out and set --rows declaration num to 1 in cards.js file */
}

a.nextra-card {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

a.nextra-card:hover {
  cursor: pointer;
}

a.nextra-card .nextra-card-title {
  font-size: 20px;
  padding-left: 30px;
  font-weight: 400;
}

a.nextra-card .nextra-card-title svg {
  display: none;
}

/* Home card light background color */
:is(html[class~="light"]) .home-card.bg-light-color {
  background-color: #fafafa;
}
/* Home card light background hover color */
:is(html[class~="light"]) .home-card.bg-light-color:hover {
  background-color: #f4f4f5;
}
/* Home card dark background color */
:is(html[class~="dark"]) .home-card.bg-dark-color {
  background-color: #141414;
}
/* Home card dark background hover color */
:is(html[class~="dark"]) .home-card.bg-dark-color:hover {
  background-color: #18181b;
}

/* nav:not(.nextra-toc) {
    background-color: #fafafa;
} */

/* Post header H1 */
h1.nx-mt-2.nx-text-4xl.nx-font-bold.nx-tracking-tight.nx-text-slate-900.dark\:nx-text-slate-100 {
  font-weight: 500;
}

/* Resource item H4 */
h4 {
  margin-bottom: -16px !important;
}

/* [data-theme="dark"] [data-hide-on-theme="dark"],
[data-theme="light"] [data-hide-on-theme="light"] {
  display: none;
} */

.tag-icon-button {
  max-height: 25px;
  max-width: 25px;
  margin-top: 0.5rem;
}

.tag-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.tag-icon-svg {
  position: absolute;
}

.tag-icon-open-source {
  height: 16px;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-icon-open-website {
  height: 18px;
  top: 45%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.tag-icon-x {
  height: 14px;
  top: 39%;
  left: 51%;
  transform: translate(-50%, -50%);
}
